services:
  extension:
    container_name: tubeshelf-ext-dev
    build:
      context: .
      dockerfile: ./docker/extension.dev.dockerfile
    tty: true
    working_dir: /usr/src/app
    ports:
      - "3000:3000"
    volumes:
      - ./extension:/usr/src/app
      - ./docs:/usr/src/app/docs
      - ./docker/setup.sh:/usr/src/app/setup.sh
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
